# uv / Virtual Environments
.venv/
venv/
ENV/
env/
**/.venv/
**/venv/

# Training Logs & Plots
*.txt
*.png
*.log

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

!client/artifacts/*.png
!assets/*.png
!examples/rl/text-to-sql/*.png
!examples/rl/text-to-sql/results/
!examples/rl/text-to-sql/results/*.png
